.pain {
    background-color: red;
    font-size: 18px;
    font-weight: 200;
    color: white;
    padding: 25px;
    border-radius: 15px;
    -mox-border-radius: 15px;
}

.dream {
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding: 25px;
    border-radius: 15px;
    -mox-border-radius: 15px;
}

.fix {
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding: 25px;
    border-radius: 15px;
    -mox-border-radius: 15px;
}

#mc_embed_signup {
    background: #fff;
    clear:left;
    font: 14px Helvetica,Arial,sans-serif;
}

#mc_embed_signup{
    background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;
}

.cover {
    position: relative;
    margin-bottom: 4.625em;
}

.cover img {
    min-height: 4.625em;
}

.cover::after {
    display: block;
    position: absolute;
    height: 2px;
    bottom: 7px;
    left: 15px;
    right: 15px;
    z-index: 0;
    background-color: black;
    -webkit-box-shadow: 0px 0px 15px 10px #000;
    -moz-box-shadow: 0px 0px 15px 10px #000;
    box-shadow: 0px 0px 15px 10px #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
