.pain {
    background-color: red;
    font-size: 18px;
    font-weight: 200;
    color: white;
    padding: 25px;
    border-radius: 15px;
    -mox-border-radius: 15px;
}

.dream {
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding: 25px;
    border-radius: 15px;
    -mox-border-radius: 15px;
}

.fix {
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding: 25px;
    border-radius: 15px;
    -mox-border-radius: 15px;
}

#mc_embed_signup {
    background: #fff;
    clear:left;
    font: 14px Helvetica,Arial,sans-serif;
}

#mc_embed_signup{
    background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;
}

.cover {
    position: relative;
    margin-bottom: -8em;
}

.cover img {
    min-width: 100%;
    max-height: none;
    margin-bottom: 0;

    position: relative;
    z-index: 1;
    border: 1px solid gray;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
    margin-bottom: 0.625em;

    display: inline-block;
    vertical-align: middle;
}

.cover:after {
    display: block;
    content: '';
    position: absolute;
    height: 2px;
    bottom: 7px;
    left: 15px;
    right: 15px;
    z-index: 0;
    background-color: black;
    -webkit-box-shadow: 0px 0px 15px 10px #000;
    -moz-box-shadow: 0px 0px 15px 10px #000;
    box-shadow: 0px 0px 15px 10px #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

a.starburst {
    display: block;
    width: 6em;
    height: 6em;
    background: #5da423;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    rotation: -45deg;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 3em 0 2.5em 4em;
}

.starburst {
    height: 6em;
    background: #5da423;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    rotation: -45deg;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 3em 0 2.5em 4em;
}

.starburst span {
    display: block;
    width: 6em;
    height: 6em;
    background: #5da423;
    -webkit-transform: rotate(22.5deg);
    -moz-transform: rotate(22.5deg);
    rotation: 22.5deg;
}

.starburst h3 {
    line-height: 0;
    padding-top: 30px;
}

.starburst h5 {
    font-size: 13px;
    text-transform: uppercase;
}

.toc, .toc ul, #table_of_contents ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul, ol {
    margin-left: 0;
}

ul, ol, dl {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: "ff-meta-web-pro-n4","ff-meta-web-pro";
}

.toc.no-parts>li, #table_of_contents .columns>ol>li {
    font-size: 1.25em;
}

#table_of_contents ol li, .toc li {
    padding-left: 0;
}

.toc, .toc ul, #table_of_contents ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li ul, ul li ol {
    margin-left: 1.25em;
    margin-bottom: 0;
    font-size: 1em;
}

ul, ol {
    margin-left: 0;
}

ul, ol, dl {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: "ff-meta-web-pro-n4","ff-meta-web-pro";
}

.toc.no-parts>li>ul>li, .toc.has-parts>li>ul>li>ul>li, #table_of_contents ol .section {
    font-size: 80%;
}
.toc.no-parts>li>ul>li, .toc.has-parts>li>ul>li>ul>li, #table_of_contents ol .section {
    font-size: 83.33333%;
}

#table_of_contents ol li>ul>li, #table_of_contents ol li>ol>li, .toc li>ul>li, .toc li>ol>li {
    font-family: "ff-meta-web-pro-n4","ff-meta-web-pro", "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 1em;
}

#table_of_contents ol li, .toc li {
    padding-left: 0;
}

#book_quick_facts {
background-color: #dadedf;
border-top: 1px solid #ccd2d3;
padding-top: 0.8125em;
padding-bottom: 0.8125em;
display: block;
}

.row:before, .row:after {
content: " ";
display: table;
}




#book_quick_facts ul[class*="-block-grid"] {
text-align: center;
}

[class*="block-grid-"] {
display: block;
padding: 0;
margin: 0 -0.625em;
}

ul, ol {
margin-left: 0;
}

ul, ol, dl {
font-size: 1em;
line-height: 1.6;
margin-bottom: 1.25em;
list-style-position: outside;
font-family: "ff-meta-web-pro-n4","ff-meta-web-pro";
}

#book_quick_facts ul[class*="-block-grid"]>li {
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
vertical-align: top;
float: none;
}

#book_quick_facts ul[class*="-block-grid"]>li {
font-size: 0.875em;
}

#book_quick_facts ul[class*="-block-grid"]>li {
padding-bottom: 0;
text-align: center;
line-height: 1em;
font-size: 0.8125em;
color: #a3adb0;
}
