.pain {
    background-color: red;
    font-size: 18px;
    font-weight: 200;
    color: white;
    padding: 25px;
    border-radius: 15px;
    -mox-border-radius: 15px;
}

.dream {
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding: 25px;
    border-radius: 15px;
    -mox-border-radius: 15px;
}

.fix {
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding: 25px;
    border-radius: 15px;
    -mox-border-radius: 15px;
}

#mc_embed_signup {
    background: #fff;
    clear:left;
    font: 14px Helvetica,Arial,sans-serif;
}

}
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
